apiVersion: v1
kind: Service
metadata:
  name: quiz-lb
spec:
  type: LoadBalancer
  loadBalancerIP: 35.243.109.115 # pj hpdev quiz
  ports:
    - name: https
      protocol: TCP
      port: 443
      targetPort: 443
    - name: http
      protocol: TCP
      port: 80
      targetPort: 80
    - name: ws
      protocol: TCP
      port: 9002
      targetPort: 9002
  selector:
    app: quiz