{{ define "match" }}
<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/static/css/reset.css">
  <link rel="stylesheet" href="/static/css/common.css">
  <link rel="stylesheet" href="/static/css/match.css">
  <link rel="stylesheet" href="https://jmblog.github.io/color-themes-for-google-code-prettify/themes/github-v2.css">
  <link rel="icon" href="/static/images/gopher_logo.png">
  <script defer src="/static/js/match.js"></script>
</head>

<body>
  <div class="container">
    <div class="match">
      <div class="status" id="status"> </div>
    </div>
    <div class="quiz" id="quiz"></div>
  </div>
</body>

</html>

{{ end }}